<ion-view view-title="About">
  <ion-content>
    <div class="item item-text-wrap">
      CherFood is a platform that connects cafes and markets that have surplus food that they are unable to sell despite being perfectly edible, with volunteers that are ready and willing to help and receivers that are ready to serve those in need.

A cafe owner will register as a donor in our webapp, cherfood.space and upload information, images, and/or videos of the available food. This will create a bitcon that will be shown in our app for volunteers.

A volunteer opens the app and sees the nearby locations that have surplus food available to donate.

He then selects the food he wants to pick up and this will be placed on hold for 2 hours.

The volunteer can choose to either keep this food or deliver it to people in need.

When delivered, the mileage will be tracked and stored for reimbursement and community service credits.

Receivers can register in our webapp and set the hours they can accept food and track the location of the food that is on the way.
    </div>
  </ion-content>
</ion-view>
